/* styles for screens cruds */

:root {
    --primaryColor: #0f0c67;
    --basicColor: #fffffe;
    --secondaryColor: #266593;
    --secondaryColorOrange: #e09636;
    --secondaryColorGreen: #9dc147;
    --secondaryColorRed: #d41010;
    --typography: Arial, Helvetica, sans-serif;
}

.crudH2{
    margin-top: 3%;
    text-align: center;
    font-family: var(--typography);
}

.crudButton{
    background-color: var(--secondaryColor);
    color: var(--basicColor);
    font-size: 20px;
    border-radius: 12px;
    border: none;
    margin: 5px;
    padding: 10px;
    margin-left: 20px;
    box-shadow:    3px 3px #444444;
    font-family: var(--typography)
}

.crudButton:hover{
    background-color: var(--secondaryColorGreen);
    box-shadow:    3px 3px #444444;
}

.crudButtonPDF{
    background-color: var(--secondaryColorRed);
    color: var(--basicColor);
    font-size: 20px;
    border-radius: 12px;
    border: none;
    margin: 5px;
    padding: 10px;
    margin-left: 20px;
    box-shadow:    3px 3px #444444;
}

.buttonsFiles{
    display: flex;
    justify-content: flex-end;
    width: 95%;
}

.crudButtonPDF:hover{
    background-color: var(--secondaryColorGreen);
    box-shadow:    3px 3px #444444;
}

.crudButtonTable{
    background-color: var(--secondaryColor);
    color: var(--basicColor);
    font-size: 16px;
    border-radius: 12px;
    border: none;
    margin: 5px;
    padding: 5px;
    box-shadow:    3px 3px #444444;   
}

.crudButtonTable:hover{
    background-color: var(--secondaryColorGreen);
    box-shadow:    3px 3px #444444;
}

.crudTable {
    font-size: 12px;
    /* color:#333333; */
    color:#000000;
    width: 80%;
    border-width: 1px;
    /* border-color: #729ea5; */
    border-color: var(--primaryColor);
    border-collapse: collapse;
    margin: 3%;
    border-radius: 24px;
    font-family: var(--typography)
}

.crudTable tbody{
    border-radius: 12px;
}


.crudTable th {
    font-size:12px;
    background-color: var(--secondaryColor);
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: var(--primaryColor);
    text-align:center;
}

.crudTable tr {
    background-color:#d4e3e5;
}

.crudTable td {
    font-size:12px;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: var(--primaryColor);
}

.crudTable tr:hover {
    background-color: var(--basicColor);
}

.crudButtonFormAccept{
    background-color: var(--secondaryColorGreen);
    color: var(--basicColor);
    font-size: 17px;
    border-radius: 4px;
    border: none;
    margin: 5px;
    padding: 10px;
    
}

.crudButtonFormCancel{
    background-color: var(--secondaryColorRed);
    color: var(--basicColor);
    font-size: 17px;
    border-radius: 4px;
    border: none;
    margin: 5px;
    padding: 10px;
}

.crudFormItems{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.crudDetailImage{
    max-height: 325px;
    min-height: 50px;
}

.crudDetailTextImage{
    text-align: center;
}

.dataDetails{
    text-align: center;
    font-size: 16px;
    font-weight: bold;

}

.gridContainerDetail1 {
    display: grid;
    grid-template-columns: 33fr 33fr 34fr;
    width: 100%;
    margin-top: 20px;
}

.divFilters{
    display: grid;
    grid-template-columns: 33fr 33fr 33fr;
    width: 90%;
    align-items: baseline;
    margin: 2%;
}

.divSelect{
    width: 300px;
    background-color: var(--secondaryColor);
    color: var(--basicColor);
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-radius: 12px;
    padding: 6px;
    height: 50px;
}

.divSelect2{
    width: 300px;
    background-color: var(--secondaryColor);
    color: var(--basicColor);
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-radius: 12px;
    padding: 6px;
    height: 50px;
    margin-right: -12px;
}

.selectText{
    margin-right: 8px;
}

.areaDetail1{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 415px;
    border: 8px solid;
    background-color: var(--secondaryColorOrange);
}

.areaDetail2{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 415px;
    background-color: var(--secondaryColorGreen);
    border: 8px solid;
}

.areaDetail3{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 415px;
    border: 8px solid;
    background-color: var(--secondaryColor);
}

.overlayImage{
    width: 300px;
    height: 100%;
}

.textDetail{
    margin-top: 10px;

    margin-left: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.verticalLine { 
    border-left: solid var(--primaryColor);
    padding-left: 15px;
}

.divNotificacionDsiplay{
    display: grid;
    grid-template-columns: 75fr 25fr;
    margin: 15px;
}

.divSeparateFilters{
    display: flex;
    justify-content: space-around;
    
}

.divFilterUnique{
    display: flex;
    align-items: baseline;
    gap: 0px;
}

.divSeparateGenerate{
    display: flex;
    justify-content: space-around;
    
}

.divFormGenerate{
    display: flex;
    align-items: baseline;
    gap: 0px;
}

.divSelectGenerateForm{
    width: 300px;
    background-color: var(--secondaryColor);
    color: var(--basicColor);
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-radius: 12px;
    padding: 6px;
    height: 75px;
    margin-right: 15px;
}