/* styles for screen home */

:root {
    --primaryColor: #0f0c67;
    --basicColor: #fffffe;
    --secondaryColor: #266593;
    --secondaryColorOrange: #e09636;
    --secondaryColorGreen: #9dc147;
    --secondaryColorRed: #d41010; 
}

.divCard{
    width: 90%;
    border: double var(--secondaryColor);
    padding: 3%;
    border-radius: 12px;
    /* background: linear-gradient(var(--secondaryColor), white); */
    /* background-image:url(http://i.imgur.com/scrNdzO.png), linear-gradient(red, blue); */
   
}

.divContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.divContainerText{
    margin: 5%;
    
}