/* styles for screen login */

:root {
    --primaryColor: #0f0c67;
    --basicColor: #fffffe;
    --secondaryColor: #266593;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.containerLogin {
    display: grid;
    grid-template-columns: 70fr 30fr;
    gap: 30px;
    height: 100%;
    width: 100%;
}

.mainImage{
    width: 100%;
    height: 100%;
}

.centerModal{
    background-color: var(--basicColor);
    max-height: 900px;
    border-radius: 24px;
    text-align: center;
    align-items: center;
    margin: 40px;
}
.itemform{
    margin-top: 30px;
}

.cardButton{
    background-color: var(--secondaryColor);
    color: var(--basicColor);
    font-size: 24px;
    border-radius: 12px;
    border: none;
    padding: 8px;
    box-shadow:    3px 3px #444444;   
}

.cardButton:hover{
    background-color: var(--secondaryColorGreen);
    box-shadow:    3px 3px #444444;
}

/* styles for screen home */

h2 {
    text-align: center;
}

.registerArea{
    display: flex;
    justify-content: space-around;
}

.registerArea img{
    width: 100px;
}

.crudButton{
    background-color: var(--secondaryColor);
    color: var(--basicColor);
    font-size: 20px;
    border-radius: 12px;
    border: none;
    margin: 5px;
    padding: 10px;
    margin-left: 20px;
    box-shadow:    3px 3px #444444;
    font-family: var(--typography);
    width: 150px;
    
}

.crudButton:hover{
    background-color: var(--secondaryColorGreen);
    box-shadow:    3px 3px #444444;
}

@media (max-width: 1000px) {
    
    /* styles for screen home */
    
    h2 {
        font-size: 12px;
    } 
    
    .registerArea img{
        display:none;
    }

    .registerArea{
        display: flex;
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .containerLogin {
        display: grid;
        grid-template-columns: 0fr 100fr;
        gap: 30px;
        height: 100%;
        width: 100%;
    }
    
    .mainImage{
        display: none;
    }
    
    /* styles for screen home */
    
    h2 {
        font-size: 12px;
    }
    
    .registerArea{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-content: center;
    }
    
    .registerArea img{
        display:none;
    }
    
    .crudButton{
        background-color: var(--secondaryColor);
        color: var(--basicColor);
        font-size: 6px;
        border-radius: 12px;
        border: none;
        margin: 3px;
        padding: 5px;
        margin-left: 50px;
        box-shadow:    3px 3px #444444;
        font-family: var(--typography);
        width: 120px;
        
    }
}
