/* styles for nav bar */

:root {
    --primaryColor: #0f0c67;
    --basicColor: #fffffe;
    --secondaryColor: #266593;
    --secondaryColorOrange: #e09636;
    --secondaryColorGreen: #9dc147; 
}

nav {
    background-color: var(--primaryColor);
    height: 90px;
    display: flex;
    justify-content: space-around;
    color: var(--basicColor);
    font-size: 24px;
    align-items: center;
    text-decoration: none;
}

.navItem {
    margin-top: 24px;
    color: var(--basicColor);
    text-decoration: none;
}

.navItem:link{
    margin-top: 24px;
    text-decoration: none;
    color: var(--secondaryColorGreen);
}

.navItem:visited{
    margin-top: 24px;
    text-decoration: none;
    color: var(--secondaryColorGreen);
}

.navItem:hover{
    margin-top: 24px;
    color: var(--secondaryColorGreen);
}

.linkNav{
    text-decoration: none;
}

.navButton{
    background-color: var(--secondaryColor);
    color: var(--basicColor);
    font-size: 20px;
    border-radius: 12px;
    border: none;
    margin: 5px;
    padding: 10px;
    margin-left: 20px;
    box-shadow:    3px 3px #444444;
}

.navButton:hover{
    background-color: var(--secondaryColorGreen);
    box-shadow:    3px 3px #444444;
}

.imageNavBar {
    /* margin: 2%; */
    width: 160px;
    height: 80px;
}

/* styles for index screen */

.sizeCarousel {
    height: 500px;
}

.grid-container {
    display: grid;
    grid-template-columns: 40fr 60fr;
}

.grid-container2 {
    display: grid;
    grid-template-columns: 60fr 40fr;
}

.cardImageSize{
    width: 100%;
    height: 300px;
}
/* 
.cardTextSize{
    height: 300px;
    width: 100%;
    text-align: center;
    color: var(--basicColor);
    background-color: var(--primaryColor);
    align-items:center;
    display: flex;
    column-gap: 20px;
} */

.cardTextSize1{
    height: 300px;
    width: 100%;
    text-align: center;
    color: var(--basicColor);
    background-color: var(--primaryColor);
    align-items:center;
    display: flex;
    column-gap: 20px;
}

.cardTextSize2{
    height: 300px;
    width: 100%;
    text-align: center;
    color: var(--basicColor);
    background-color: var(--secondaryColorOrange);
    align-items:center;
    display: flex;
    column-gap: 20px;
}

.cardTextSize3{
    height: 300px;
    width: 100%;
    text-align: center;
    color: var(--basicColor);
    background-color: var(--secondaryColorGreen);
    align-items:center;
    display: flex;
    column-gap: 20px;
}

.cardTextSize{
    height: 300px;
    width: 100%;
    text-align: center;
    color: var(--basicColor);
    background-color: var(--primaryColor);
    align-items:center;
    display: flex;
    column-gap: 20px;
}

.cardTitle{
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.cardMessage{
    margin-left: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 90%;
    display: flex;
    text-align: center;
}

.areaGraphics {
    max-width: 80%;
    display: flex;
    justify-self: center;
}

.carouselArea{
    width: 90%;
    margin: 1%;
    border-radius: 12px;
}

.bodyColor{
    background-color: var(--primaryColor);
}